future>=1.0.0
openai
tiktoken
networkx
graspologic
nano-vectordb
hnswlib
xxhash
tenacity
dspy-ai
neo4j
aioboto3
llama-index
llama-index-core
peewee

mineru[core]
rank_bm25
faiss_gpu



# streamlit 
PyMuPDF
openai
qwen_vl_utils
transformers==4.51.3
huggingface_hub
modelscope
flash-attn==2.8.0.post2
# for GLIBC 2.31, please use flash-attn==2.7.4.post1 instead of flash-attn==2.8.0.post2
accelerate
dashscope
